<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APNumberPadKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>APNumberPadKitResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HXCardReaderKit-M35.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HXCardReaderKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HXPinDevive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HXSoftKeyboardResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HXSoftPinpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HXiCRplusKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>HXiMate2SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HXiMateGznsSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>HXiMateMPosSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>HXiMateSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1223BC3F1A392248001FC755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12D4AD531C1701E6003EA33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D062BAF1AEDDF2D00FFE2D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D062C371AEE131300FFE2D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D39C037194FBB1F00937312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D39C3A0195010E700937312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D709A5B1A5D080700081368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D89D1A81ABA6BC0004DCAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB65E4A1B32A69F00C0D641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD3E17F1AA58FF8004DDF15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD9B7CF1BDE5610009D5D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0C33E1165B585100E80E7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
